<!-- about.html -->
{% extends 'pages/base.html' %}
{% load static %}

{% block title %}About - WILG{% endblock %}

{% block content %}
<h1>About Us</h1>
<p class="py-4">
    The Women's Independent Living Group (WILG) is one of the few all-women housing options at MIT. We're an independent
    living group that houses about 45 residents. WILG was founded with the belief that a group of hard-working women can
    manage their own house, and we've been doing just that for almost 40 years.
</p>
<div>
    <img src="{% static 'wilg_website/images/pages/rush_dinner.jpg' %}" alt="wilg rush" width="100%">
    <caption>Rush Dinner (Spring 2024) </caption>
</div>

<h2>Meet the House</h2>

<h3>Executive Board</h3>
{% for exec in execs %}
{% for position, id in positions.items %}
{% if exec.name == position and exec.name != "MEMBER" %}

<p>{{ exec.value }}</p>

{% for member in members %}
{% if member.id in id %}
<p>{{ member.name }} - {{ member.classyear }}</p>
{% endif %}
{% endfor %}

{% endif %}
{% endfor %}
{% endfor %}

<h3>Members</h3>
{% for member in members %}
{% if member.exec_position == "MEMBER" %}
<p>{{ member.name }} - {{ member.classyear }}</p>
{% endif %}
{% endfor %}
{% endblock %}