<!-- alumnae.html -->
{% extends 'pages/base.html' %}

{% block title %}Alumnae - WILG{% endblock %}

{% block content %}
<div style="line-height:1.7">

    <h1>WILG Alumnae</h1>

    <h2>Stay in Touch!</h2>

    <p>WILG alumnae are scientists, engineers, doctors (and vets),
        military officers, executives, consultants, writers, a filmmaker, an
        astronaut, a US CTO - and of course many grad students! If you're an
        alum, you can join the announcements-only email list, general email
        list, and/or Facebook group - email wilg-corp-board [at] mit if you
        need the links.</p>

    <h2>Corp Board</h2>

    <p>The WILG Alumnae Corporation is responsible for working with the
        student officers to ensure WILG will be able to house and support its
        members into the future (e.g. financial, building, and community
        health). Corp is run by a board elected to staggered two-year terms at
        an annual meeting in the spring. You can reach the board by email at
        wilg-corp-board [at] mit - and please reach out if you'd be interested
        in joining!</p>

    <h2>Donations to WILG</h2>

    <h3>Non-tax-deductible Direct Donations</h3>

    <p>Like most MIT living groups, per current charitable organization
        regulations, direct contributions to WILG are not tax-deductible since
        we’re a 501(c)(4) entity, not 501(c)(3). See below for how to donate
        tax-deductibly through MIT. Any amount you can give will be very much
        appreciated.</p>

    <p><b><i>Non-tax-deductible</i></b> direct donations to WILG can be
        made
        via <a href="https://www.gofundme.com/f/wilgs-next-40-years">GoFundMe</a>
        or by sending a check payable to "MIT-WILG" to:<br>
        WILG Corporation Treasurer<br>
        355 Massachusetts Ave<br>
        Cambridge, MA 02139</p>

    <h3>Tax-deductible Donations via MIT IRDF</h3>

    <p><b><i>Tax-deductible</i></b> donations (including corporate
        matching gifts) can be made
        through <a href="http://web.mit.edu/irdf/donors.html">MIT's
            Independent Residence Development Fund</a>. These donations support
        WILG by funding our loans and grants through IRDF - like our kitchen
        loan.</p>

    <p>Please also <b><i>email the board</i></b> to say you've given to
        IRDF - it takes a while for notifications about those gifts to work
        their way through MIT systems, and we'd like to be able to thank you
        sooner!</p>

    <h4>Gift Designation to WILG (Important!)</h4>

    <p>To make sure your gift is properly designated for WILG, check
        your <a href="http://alum.mit.edu/myaccount">MIT alumni association
            profile</a> (and your spouse/partner's, if also an MIT alum) and see
        if WILG is listed as the only FSILG. Gifts are <b><i>automatically
                split</i></b> if WILG is not the only FSILG listed, so you must
        specify that your gift should be designated to WILG (or the split you
        choose) - specifying a split does not seem to be possible when giving
        online, so please send a check or other method below.</p>

    <h4>Giving Online</h4>

    <p>You can give to IRDF online
        through <a href="https://giving.mit.edu/irdf">Giving to MIT</a>. That
        link should load with the IRDF fund selected; you can add other fund
        designations if you want. If the IRDF fund doesn't load, click Explore
        funds -&gt; Campus and student life, then search at the top right for
        IRDF, and click Give next to the IRDF fund description in the search
        results.</p>

    <p>You can make a one-time or recurring gift online - select your
        fund(s), your gift amount, whether one-time or recurring, and then go
        through the payment process.</p>

    <h4>Other Ways to Give</h4>

    <p>You can also give
        by <a href="https://giving.mit.edu/check">check</a> and various other
        methods including wire transfers, appreciated stock / mutual funds, or
        via a donor-advised fund. In each case, you'll need to specify that
        your gift is for IRDF, fund #3766600, and designated to WILG (or the
        split you choose).</p>

    <h3>Thank you for giving to help WILG's next 40 years!</h3>

</div>
{% endblock %}