<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WILG{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'wilg_website/css/dist/styles.css' %}">
</head>

<body>
    <header class="py-4">
        <div class="flex">
            <div class="flex-1 flex justify-center mr-auto">
                <a href=" {% url 'about' %}" class="mx-2">about</a>
                <a href="{% url 'house' %}" class="mx-2">house</a>
                <a href="{% url 'rush' %}" class="mx-2">rush</a>
            </div>
            <div class="mx-12">
                <a href="{% url 'home' %}">wilg</a>
            </div>
            <div class="flex-1 flex justify-center ml-auto">
                <a href="{% url 'summer' %}" class="mx-2">summer</a>
                <a href="{% url 'alumnae' %}" class="mx-2">alumnae</a>
                <a href="{% url 'login' %}" class="mx-2">login</a>
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>Women's Independent Living Group</p>
        <p>355 Massachusetts Ave, Cambridge, MA 02139</p>
        <nav>
            <ul>
                <li><a href="https://www.instagram.com/wilg.mit">wilg-stagram</a></li>
                <li><a href="mailto:wilg-rush-chairs@mit.edu">wilg-mail</a></li>
            </ul>
        </nav>
        <p>
            &copy; 2024 Lucy Kim
        </p>
    </footer>
</body>

</html>