<!-- rush.html -->
{% extends 'pages/base.html' %}
{% load static %}

{% block title %}Rush - WILG{% endblock %}

{% block content %}
<h1>Rush</h1>
<h2>FAQ</h2>
<h3>What's the difference between a member and a boarder?</h3>
<p>Both are residents of the house, however their involvement in the community differ slightly. Members attend house
    meetings twice a month and help run the house. Together, they make up the executive board and
    also organize and run events like rush, social events and a retreat every semester. Boarders are students who live
    in the house for a semester/year. All residents are responsible for two hours of chores a week.
</p>

<h2>Announcements</h2>
<p>Fall 2024 Rush will be hosted in person from dates: TBD. </p>

<h2>Schedule</h2>
<p>Last semester's rush schedule</p>
<div>
    <img src="{% static 'wilg_website/images/pages/rush_sched_sp24.png' %}" alt="wilg rush sched" width="50%">
    <caption>Rush Schedule (Spring 2024) </caption>
</div>

<h2>Links</h2>
<div>
    <h3>Member Interest</h3>

    <ul class="list-disc list-inside">
        <li><a href="https://forms.gle/ApXo7rEwHi19FKfR9">Rolling Rush Interest</a></li>
        <li><a
                href="https://calendar.google.com/calendar/u/0?cid=YzBlNWJiNDI5MTM1MDY3NGRlM2JjNzM4MTA5N2MyMzNhNGVkZjdmNGQxZGJiZmI3YjRjZTQ2Y2I0MDgwMzQ0MEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t">Rolling
                Rush Dinner Schedule</a></li>
    </ul>

    <h3>Boarder Interest</h3>
    <ul class="list-disc list-inside">
        <li><a href="https://forms.gle/YmeJN6WiWLHNV3DR8">Spring 24 Boarding Intent Form</a></li>
        <li><a href="https://forms.gle/kzykyX64N74uJTwN8">Summer 24 Boarding Interest Form</a></li>
        <li><a href="https://forms.gle/YfBzR8nuzubaFRPF6">Fall 24 Boarding Interest Form</a></li>
    </ul>

    <h3>Questions?</h3>
    <p>Email: <a href="mailto:wilg-rush-chairs@mit.edu">wilg-rush-chairs@mit.edu</a></p>

</div>
{% endblock %}