<!-- summer.html -->
{% extends 'pages/base.html' %}

{% block title %}Summer - WILG{% endblock %}

{% block content %}
<h1>Summer Housing</h1>
<h2>APPLICATIONS FOR SUMMER 2024 NOW OPEN!</h2>
<p>Updated 3/9/2024</p>


<h2></h2>SUMMER 2024 INFO:</h2>
<p>Located conveniently between Central Square and Kendall Square, WILG offers quick access to the best of Cambridge and
    Boston. The 1 Bus stops directly in front of the house, there are 3 BlueBike stations across the street, the Central
    Square Red Line station is 6 minutes away, and Kendall Square is a 15 minutes away. We have easy access to grocery
    stores, restaurants, and MIT and Harvard campuses.</p>

<p></p>WILG has many amenities: a full commercial kitchen, a secondary kitchen on the fourth floor, ample appliances and
dishware, wifi, free laundry, a bike storage room, and air-conditioned lounges.</p>

<p>During the summer, WILG is open to people of all sexes and genders and non-MIT students as well. Join us!</p>


<h2>Dates</h2>
<p>For summer 2024, we will offer housing from Sunday, June 2nd to Saturday, August 24th.</p>


<h2></h2>Pricing</h2>
<p>These prices are for the full term: 06/02 - 08/24.</p>

<table>
    <tr>
        <th>Room</th>
        <th>Price (Per Person)</th>
    </tr>
    <tr>
        <td>Walk-through Triple*</td>
        <td>$2900</td>
    </tr>
    <tr>
        <td>Double</td>
        <td>$3000</td>
    </tr>
    <tr>
        <td>Walk-through Double*</td>
        <td>$3300</td>
    </tr>
    <tr>
        <td>Single</td>
        <td>$3600</td>
    </tr>
</table>

<p>*A walk-through room is a set of two rooms connected by a door and shared by 2 or 3 people; to access the back room
    one must walk through the front room. The bed arrangement for these rooms is left up to the residents but a common
    set
    up is one bed in the front room and one (or two for a walk-through triple) in the back room. Another common
    arrangement is
    all beds in the back room and desks in the front room. Living in one of these is like having roommates, but you
    still
    get your own space.</p>

<p>Subletting is not allowed. These rates cannot be prorated unless another boarder has complementary summer plans and
    the arrangement is discussed with the summer housing chair in advance.</p>

<h2>Apply</h2>
<p>First, fill out an application.</p>

Then, we’ll invite you to a virtual info session that will include a virtual tour of the house and a review of the house
policies. You will also have the opportunity to ask any questions you may have then. Attending an info session is
required to be considered.

<p>Decisions will be given on a rolling basis until the house is full.</p>


<h2>Details</h2>
<p>Each person living at WILG will do a house and kitchen job each week (approx 1 hour each) to help keep the house
    clean
    and nice to live in. In addition to these jobs, each person is required to complete 3 bathroom cleanings over the
    course
    of the summer. Each missed job results in a fine of up to $15.</p>

<p>Each resident is required to sign a summer housing contract and submit a summer housing deposit ($500) to secure
    their
    spot. On top of the summer rate, an additional $300 security deposit is required upon move-in. The security deposit
    will
    be returned to the resident upon move-out minus any fines the resident has accrued from missed jobs. Additional
    fines
    will be taken from the security deposit if the resident's room and furniture is not left in good condition.</p>

<p>We have a limited number of parking spaces behind our building. Depending on requests, we may be able to grant
    permanent
    parking spaces for the summer but they are typically left open for temporary resident parking. You can also apply
    for an
    MIT parking permit.</p>


<h2>Questions?</h2>
<p>Email the summer housing chairs at wilg-housing@mit.edu.</p>

Want to join WILG during the semester? Email wilg-rush@mit.edu.
{% endblock %}